body {
	/*background-color: oldlace;*/
	background-color: papayawhip;
}

.noshow {
	display: none;
}

small,
.small {
	font-size: .67em;
}

.small-caps {
	font-variant: small-caps;
}

a {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ee;
}

table {
	/*border: solid 1px black;*/
	vertical-align: top;
	background-color: papayawhip;
}
th {
	vertical-align: top;
}
td {
	/*border: solid 1px black;*/
	vertical-align: top;
}

table tr > .mainList {
	width: 200px;
}

/*
 * SESSIONS LIST
 * (1ST COLUMN)
 **/

td.mainList div.sessionsMenu {
	background-color: peachpuff;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

td.mainList p.active {
	font-weight: bold;
}

td.mainList p.date {
	position: relative;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
td.mainList p.date a.removeLink {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
td.mainList p.date:hover {
	background-color: peachpuff;
}
td.mainList p.date:hover a.removeLink {
	display: block;
}

td.mainList p.date small.removeOlderThan {
	color: red;
	cursor: pointer;
}

/*
 * SESSION DETAILS
 * (2ND COLUMN)
 **/

td.details {
	padding: 5px;
	border: solid 1px black;
	border-radius: 5px;
}

td.details > div.session.window {
	margin: 5px 0 5px;
	padding-right: 5px;
	border-radius: 5px;
}

td.details > div.session.window > ul > li {
	border-radius: 5px;
}

td.details > div.session.window:hover {
	background-color: bisque;
}
td.details > div.session.window > ul > li:hover {
	background-color: peachpuff;
}

td.details li {
	padding-bottom: 5px;
}

td.details li img.favicon {
	width: 16px;
	height: 16px;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

li:hover .favicon {
    animation: spin 4s linear infinite;
}

/*
 * SETTINGS
 * (3RD COLUMN)
 **/

table tr > td.settings:before {
	content: "MOVE MOUSE HERE TO SEE SETTINGS";
	display: block;
	writing-mode: vertical-lr;
	text-orientation: upright;
}
table tr > td.settings > * {
	display: none;
}
table tr > td.settings:hover:before {
	content: "";
}
table tr > td.settings:hover > * {
	display: block;
}

table tr > td.settings {
	padding: 5px;
	max-width: 50px;
	overflow-x: hidden;
}
table tr > .settings > * {
	width: 190px;
	overflow-x: hidden;
}
table tr > .settings:hover {
	width: 200px;
	overflow-x: auto;
}

table tr > td.settings {
	opacity: 0.3;
}
table tr > td.settings:hover {
	opacity: 1;
}
