body {
	/*background-color: oldlace;*/
	background-color: papayawhip;
	margin: 8px;
}

.noshow {
	display: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 20px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(169,169,169,0.3);
	outline: 1px solid rgba(112,128,144,0.3);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(169,169,169,1);
	outline: 1px solid rgba(112,128,144,1);
}

small,
.small {
	font-size: 11px;
}

.small-caps {
	font-variant: small-caps;
}

a {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ee;
}

table {
	/*border: solid 1px black;*/
	vertical-align: top;
	background-color: papayawhip;
}
th {
	vertical-align: top;
}
td {
	/*border: solid 1px black;*/
	vertical-align: top;
}

/*
 * SESSIONS LIST
 * (1ST COLUMN)
 **/

table tr > .mainList {
	width: 200px;
	padding: 0;
}

/* MENU */
td.mainList div.sessionsMenu {
	background-color: peachpuff;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.mainList div.sessionsMenu ul.sessionsMenu.sessionsMenu-hidden a span.show-sessionsMenu,
td.mainList div.sessionsMenu ul.sessionsMenu:not(.sessionsMenu-hidden) a span.hide-sessionsMenu {
	display: inline;
}
td.mainList div.sessionsMenu ul.sessionsMenu:not(.sessionsMenu-hidden) li {
	display: list-item;
}
td.mainList div.sessionsMenu ul.sessionsMenu:not(.sessionsMenu-hidden) a span.show-sessionsMenu,
td.mainList div.sessionsMenu ul.sessionsMenu.sessionsMenu-hidden li,
td.mainList div.sessionsMenu ul.sessionsMenu.sessionsMenu-hidden a span.hide-sessionsMenu {
	display: none;
}

/* LIST */
td.mainList div.mainListOuterContainer {
	height: 702px;
	/*padding-bottom: 5px;*/
	overflow-y: auto;
}

td.mainList p.active {
	font-weight: bold;
}

td.mainList p.date {
	position: relative;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
td.mainList p.date a.removeLink {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
td.mainList p.date:hover {
	background-color: peachpuff;
}
td.mainList p.date:hover a.removeLink {
	display: block;
}

td.mainList p.date small.removeOlderThan {
	color: red;
	cursor: pointer;
}

/*
 * SESSION DETAILS
 * (2ND COLUMN)
 **/

td.details {
	padding: 5px;
	border: solid 1px black;
	border-radius: 5px;
}

div.detailsContainer {
	overflow-y: auto;
	height: 737px;
}

td.details div.session.window {
	margin: 5px 5px 5px 0;
	border-radius: 5px;
}

td.details div.session.window > ul > li {
	border-radius: 5px;
}

td.details div.session.window:hover {
	background-color: bisque;
}
td.details div.session.window > ul > li:hover {
	background-color: peachpuff;
}

td.details li {
	padding-bottom: 5px;
}

td.details li img.favicon {
	width: 16px;
	height: 16px;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

li:hover .favicon {
    animation: spin 4s linear infinite;
}

/*
 * SETTINGS
 * (3RD COLUMN)
 **/

table tr > td.settings:before {
	content: "MOVE MOUSE HERE TO SEE SETTINGS";
	display: block;
	writing-mode: vertical-lr;
	/*text-orientation: upright;*/
	vertical-align: middle;
}
table tr > td.settings > * {
	display: none;
}
table tr > td.settings:hover:before {
	content: "";
}
table tr > td.settings:hover > * {
	display: block;
}

table tr > td.settings {
	padding: 5px;
	max-width: 50px;
	overflow-x: hidden;
}
table tr > .settings > * {
	width: 290px;
	overflow-x: hidden;
}
table tr > .settings:hover {
	width: 300px;
	overflow-x: auto;
}

table tr > td.settings {
	opacity: 0.3;
}
table tr > td.settings:hover {
	opacity: 1;
}
